<section class="hero is-small is-primary">
    <div class="hero-body">
      <p class="title">
        Small hero
      </p>
      <p class="subtitle">
        Small subtitle
      </p>
    </div>
  </section>
    <div class="box py-6">
    <div class="columns is-vcentered ">
      
    <div class="column is-8 ">
      <p class="bd-notification is-primary">First column</p>
    </div>
  
    <div class="column">
      <p class="bd-notification is-primary">Second column with more content. This is so you can see the vertical alignment.</p>
    </div>
  
  </div>
  </div>
  
