<section class="hero is-primary is-bold
 is-fullheight">
  <div class="hero-body">
  <div class="container has-text-centered">
    
    <h1 class="title pb-6 mb-6">Welcome!</h1>
    <!-- login button -->
    <div class="block" >
   <!-- <button class="button is-primary is-rounded is-large" onclick="loginWithRedirect" >Log in</button>-->
   
   <app-login-button></app-login-button>
  
  
  </div>

    <!-- sign up button -->
    <div class="block">
    <button class="button is-primary is-rounded is-large" [routerLink]="['/signup']" >Sign Up</button>
    </div>
  </div>
  </div>
</section>

<!-- log in modal -->
<div class="modal " id="page-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Log In</p>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" id="loginsubmit" [routerLink]="['/main']" >Submit</button>
      <button class="button" id="logincancel">Cancel</button>
    </footer>
  </div>
</div>
